// Palette colors

$primary-color: #e76e09;
$secondary-color: #000000;
$tertiary-color: #ffffff;
$quaternary-color: #484b4d;

// Containers

$container-desktop: 960;
$container-tablet: 788;
$container-mobile: 300;
$gutter: 20;
$columns: 16;
