/* Components */

.btn {
  border-radius: 25px;
  background: $secondary-color;
  padding: 12px 68px;
  border: 3px solid $primary-color;
  color: $primary-color;
  @include font-size("lg");
  &:hover {
    color: $tertiary-color;
    border-color: $tertiary-color;
  }
}

.subtitle {
  font-weight: bold;
  @include font-size("xl");
  color: $secondary-color;
  text-align: center;
  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $primary-color;
    margin: 0 auto;
  }
}

/* Header */

.header {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  background: $secondary-color;
  z-index: 100;
}

.header-menu {
  text-align: right;
  ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
  }
  ul li a {
    @include font-size("sm");
    color: $primary-color;
    padding: 10px 0;
  }
  ul li a:hover {
    color: $tertiary-color;
  }
}

.item-menu {
  width: 60px;
  height: 20px;
  border-radius: 12px;
  padding: 5px;
  background-color: $primary-color;
  color: $secondary-color;
  &:hover {
    color: $tertiary-color;
  }
}

// Container for tablets

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .header {
    position: relative;
    img {
      margin: 0 auto;
    }
  }
}

// Container for mobile

@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    a img {
      margin: 0 auto;
    }
  }
  .header-menu {
    text-align: center;
  }
}

/* Introduction */

.introduction {
  width: 100%;
  height: 585px;
  background: url("../img/bg-intro.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  text-align: center;
  padding-top: 92px;
  h1 {
    font-family: Docktrin;
    @include font-size("xxxl");
    color: $primary-color;
  }
}

.quote-intro {
  max-width: 380px;
  margin: 0 auto 30px;
  color: $tertiary-color;
  p {
    @include font-serify;
    @include font-size("md");
    font-style: italic;
  }
  p::before,
  p::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: $primary-color;
    margin: 15px auto;
  }
  cite {
    font-style: normal;
    @include font-size("lg");
  }
}

// Container for tablets

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .introduction {
    margin-top: 0;
  }
}

// Container for mobile

@media only screen and (max-width: 787px) {
  .introduction {
    margin-top: 0;
    h1 {
      @include font-size("xxl");
    }
  }
  .quote-intro {
    p {
      @include font-size("sm");
    }
    cite {
      @include font-size("md");
    }
  }
}

/* About */

.about {
  padding: 60px 0;
  p {
    text-align: center;
    margin: 10px 0;
  }
}
.about-itens {
  margin-top: 60px;
  li {
    min-height: 300px;
    background: $primary-color;
  }
  li h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include font-size("lg");
  }
  li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $secondary-color;
    margin: 5px auto;
  }
  p {
    padding: 0 20px 35px;
  }
}
.about-icons {
  background: $secondary-color;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 787px) {
  .about-itens li {
    margin-bottom: 20px;
  }
}
